*.e*
*.o*
log*
CFD/[0-9].[0-9]*
CFD/[1-9]*
CFD/log.*
CFD/averageProps
CFD/*.OpenFOAM
CFD/*.restart*
CFD/clockData
CFD/*.dat
CFD/octave/*.dat
CFD/octave/*.eps
CFD/octave/octave-workspace
CFD/processor*
CFD/VTK
CFD/volAvU
CFD/couplingFiles
CFD/particles
CFD/probe*
CFD/postProcess*
CFD/particleProbes
CFD/*Restart*
CFD/*restart*
CFD/fluidFlowStats.res
CFD/processor*
DEM/postParticles/*
DEM/postGlobal/*
DEM/post/*.*
DEM/post/tracer/*
DEM/post/restart/*
postprocessing/probe_pressure*
